<footer class="container inter-600">
    <div class="padded-container">
        <div class="footer-container">
            <div class="about-container no-margin">
                <h2 class="footer-title no-margin"><span class="logo">RS </span><span class="title">Rishi Singh</span></h2>
                <p class="no-margin">Bengaluru, India - 560067</p>
            </div>
            <p class="copyright no-margin">© 2024 Rishi Singh. All rights reserved</p>
        </div>
    </div>
</footer>