<header class="header">
    <h1 class="logo inter-700"><a href="/"><span class="header-logo-tag">RS</span>&nbsp;Blog</a></h1>
    <h2 class="no-margin">
        <!-- <a class="header-link inter-500 header-spacer" target="_blank" rel="noopener noreferrer" href="https://blog.rishisingh.in">Blog</a> -->
        <a class="header-link inter-500" target="_blank" rel="noopener noreferrer"
            href="https://rishisingh.in">rishisingh.in</a>
    </h2>
</header>