<!DOCTYPE html>
<html lang="en">

<%- include('./includes/meta.ejs') %>

<body>
    <main class="canvas">
        <!-- Header -->
        <%- include('./includes/navigation.ejs') %>
        <!-- hero -->
        <div class="hero">
            <h1 class="hero-header inter-700 green-text">404</h1>
            <h2 class="hero-content inter-600 intro">It looks like you are lost!!</h2>
        </div>
    </main>
    <!-- Footer -->
    <!-- <%- include('./includes/footer.ejs') %> -->
</body>

</html>