<!DOCTYPE html>
<html lang="en">

<%- include('./includes/meta.ejs') %>

<body>
    <main class="canvas">
        <!-- Header -->
        <%- include('./includes/navigation.ejs') %>
        <!-- Container -->
        <div class="container inter-600 top-gap">
            <ul class="padded-container">
                <%- content %>
            </ul>
        </div>
    </main>
    <!-- Footer -->
    <%- include('./includes/footer.ejs') %>
</body>

</html>