<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; style-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com; script-src 'self' ; frame-src 'self' https://docs.google.com/; font-src 'self' https://fonts.gstatic.com; img-src 'self' https://cdn.jsdelivr.net">
    <title>Rishi Singh - Software Developer</title>
    <link rel="canonical" key="canonical" href="https://rishisingh.in/" />
    <meta
        content="Experienced software developer in the vibrant tech landscape of southern India, building innovative solutions with precision and passion. Explore my portfolio of impactful projects."
        name="description" />
    <meta content="Rishi Singh - Software Developer" property="og:title" />
    <meta
        content="Experienced software developer in the vibrant tech landscape of southern India, building innovative solutions with precision and passion. Explore my portfolio of impactful projects."
        property="og:description" />
    <meta content="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/WebOGPoster.png" property="og:image" />
    <meta content="Rishi Singh - Software Developer" property="twitter:title" />
    <meta
        content="Experienced software developer in the vibrant tech landscape of southern India, building innovative solutions with precision and passion. Explore my portfolio of impactful projects."
        property="twitter:description" />
    <meta content="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/WebOGPoster.png"
        property="twitter:image" />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />

    <link href="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/FavIcon.png" rel="shortcut icon"
        type="image/x-icon" type="image/png" />
    <link href="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/Logo.png" rel="apple-touch-icon" />

    <link rel="stylesheet" href="/css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <main class="canvas">
        <!-- Header -->
        <div class="header">
            <h1 class="logo inter-700"><span class="header-logo-tag">RS</span>&nbsp;Blog</h1>
            <h2>
                <!-- <a class="header-link inter-500 header-spacer" target="_blank" rel="noopener noreferrer" href="https://blog.rishisingh.in">Blog</a> -->
                <a class="header-link inter-500" target="_blank" rel="noopener noreferrer" href="https://rishisingh.in">rishisingh.in</a>
            </h2>
        </div>
        <!-- hero -->
        <div class="hero">
            <div>
                <h1 class="hero-header inter-700">RISHI SINGH,<br>SOFTWARE DEVELOPER</h1>
                <h2 class="hero-content inter-600 intro-desktop">Through strategic software architecture,<br>
                    I help companies worldwide optimize<br>
                    their processes and drive growth.</h2>
                <h2 class="hero-content inter-600 intro-mobile">Through strategic software architecture, I help
                    companies
                    worldwide optimize their processes and drive growth.</h2>
                <a class="btn inter-500" href="mailto:email@rishisingh.in">email@rishisingh.in</a>
            </div>
        </div>
        <!-- Projects -->
        <div class="section">
            <h2 class="section-title inter-700">PROJECTS</h2>
            <!-- TempBox -->
            <a class="card" href="https://tempbox.rishisingh.in" target="_blank">
                <img class="card-image" src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/TempBox.svg"
                    alt="TempBox application icon - A white envelope on a red background">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        TempBox
                    </h3>
                    <p class="card-subtitle inter-700">Tired of spam? TempBox lets you create disposable emails on the
                        fly. Protect your privacy, manage subscriptions easily, and keep your main inbox clutter-free.
                        Try it now!</p>
                </div>
            </a>
            <div class="divider"></div>
            <!-- Steganograph -->
            <a class="card" href="https://rishi-singh26.github.io/stegno/" target="_blank">
                <img class="card-image"
                    src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/Stegno.svg"
                    alt="Stegno application logo - A dino standing in a white background">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Stegno
                    </h3>
                    <p class="card-subtitle inter-700">An app that uses LSB steganography to securely hide and extract text and images within images, with capacity checks and easy embedding.</p>
                </div>
            </a>
            <div class="divider"></div>
            <!-- Map GIS -->
            <div class="card">
                <img class="card-image"
                    src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/IconDefination.svg"
                    alt="Map GIS application icon defination">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Map GIS
                    </h3>
                    <p class="card-subtitle inter-700">In Progress</p>
                </div>
            </div>
            <div class="divider"></div>
        </div>
        <!-- Wrok Experiance -->
        <div class="section">
            <h2 class="section-title inter-700">WORK EXPERIANCE</h2>
            <!-- Accenture -->
            <div class="card">
                <img class="card-image" src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/Accenture.svg"
                    alt="Accenture Logo">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Custom Software Development Analyst
                    </h3>
                    <p class="card-subtitle inter-700">Accenture, Mar 2023 - Present</p>
                    <p class="card-subtitle inter-500">At this role, I collaborate closely with project stakeholders and UX/UI designers to grasp business requirements fully. My expertise lies in crafting responsive, efficient, scalable, and maintainable components. I excel at integrating front-end components with REST API endpoints, implementing business logic in TypeScript.<br>I'm proficient in managing deployment and release pipelines on Azure DevOps. I'm well-versed in Agile development methodologies and test-driven development, enabling me to work effectively with cross-functional teams to deliver features in a timely and efficient manner.</p>
                </div>
            </div>
            <div class="divider"></div>
            <!-- Accenture -->
            <div class="card">
                <img class="card-image" src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/Accenture.svg"
                    alt="Accenture Logo">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Custom Software Development Associate
                    </h3>
                    <p class="card-subtitle inter-700">Accenture, Aug 2021 - Feb 2023</p>
                    <p class="card-subtitle inter-500">At this role, I focused on component development and integration for a front-end Angular application, honing my skills in building robust and efficient Angular components. I took on the responsibility of deployments using Azure DevOps, which sharpened my DevOps skills and ensured smooth collaboration within the team.<br>Throughout the project, I embraced Agile development methodologies and test-driven development practices, allowing me to adapt to changing requirements. This experience not only enhanced my technical abilities but also reinforced my commitment to delivering well-tested, maintainable code.</p>
                </div>
            </div>
            <div class="divider"></div>
            <!-- Krenai -->
            <div class="card">
                <img class="card-image" src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/Krenai.svg"
                    alt="Krenai Logo">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Front-End Developer Intern
                    </h3>
                    <p class="card-subtitle inter-700">Krenai, Jul 2020 - Sep 2020</p>
                    <p class="card-subtitle inter-500">In my intern role, I worked on developing and deploying cross-platform mobile applications for Android and iOS using React Native. This experience enabled me to create efficient, user-friendly apps that performed efficiently across different devices. I worked in a highly agile environment, adapting quickly to rapidly changing requirements and delivering results under tight deadlines.<br>Beyond my technical contributions, I took on a mentoring role, providing knowledge transfer and guidance on coding standards to newly joined interns. This experience not only enhanced my technical expertise but also developed my leadership and communication skills, reinforcing my ability to contribute both as a developer and a team player.</p>
                </div>
            </div>
            <div class="divider"></div>
            <!-- CronJ -->
            <div class="card">
                <img class="card-image" src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/CronJ.svg"
                    alt="CronJ Logo">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Summer Intern
                    </h3>
                    <p class="card-subtitle inter-700">CronJ, Jun 2019 - Jul 2019</p>
                    <p class="card-subtitle inter-500">During my summer internship, I worked on my web development skills by writing supporting code for web applications and sites using HTML, CSS, and JavaScript. I also got hands-on experience with WordPress, creating and tweaking web content.<br>To boost online visibility, I took charge of registering websites with various search engines, aiming to drive up traffic. This internship gave me a solid taste of real-world web development and SEO practices.</p>
                </div>
            </div>
            <div class="divider"></div>
        </div>
        <!-- Articles -->
        <div class="section">
            <h2 class="section-title inter-700">ARTICLES</h2>
            <a class="card"
                href="https://medium.com/@rishi_singh/how-to-implement-end-to-end-encryption-using-pbkdf-in-flutter-a5508e7ad93e"
                target="_blank">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Implement zero knowledge encryption using PBKDF in Flutter
                    </h3>
                    <p class="card-subtitle inter-700">In this article, we’ll look at how to set up an end-to-end
                        encryption system to protect user data.</p>
                </div>
            </a>
            <div class="divider"></div>
            <a class="card"
                href="https://medium.com/@rishi_singh/i-created-an-app-to-perform-basic-lsb-steganography-its-not-that-hard-525fe5e4f903"
                target="_blank">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        I created an app to perform basic steganography on images, it’s not that hard
                    </h3>
                    <p class="card-subtitle inter-700">Steganography is the process of hiding information (usually text, images, or audio) within other digital files, such as images, audio, or video. In LSB steganography we achieve this by manipulating the LSB (Least Significant Bits) of the media file.</p>
                </div>
            </a>
            <div class="divider"></div>
            <a class="card"
                href="https://medium.com/@rishi_singh/create-a-draggable-scrollable-bottomsheet-with-flutter-0ec50d93a3b9"
                target="_blank">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Create a Draggable Scrollable BottomSheet with Flutter
                    </h3>
                    <p class="card-subtitle inter-700">Let’s learn to implement a draggable and scrollable bottom sheet
                        in flutter which can be added on a map or anywhere you want.</p>
                </div>
            </a>
            <div class="divider"></div>
            <a class="card"
                href="https://medium.com/@rishi_singh/designing-platform-specific-uis-in-flutter-a-comprehensive-guide-61f444b6bf64"
                target="_blank">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Designing Platform-Specific UIs in Flutter: A Comprehensive Guide
                    </h3>
                    <p class="card-subtitle inter-700">In this article, we’ll explore how to create platform-specific
                        UIs in Flutter. We’ll ensure our app follows the Material 3 design system on Android, Fluent UI
                        on Windows, and Human Interface Guidelines (HIG) on iOS and macOS.</p>
                </div>
            </a>
            <div class="divider"></div>
            <a class="card" href="https://medium.com/@rishi_singh/how-to-blur-a-widget-in-flutter-edc32bfc6eea"
                target="_blank">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        How to Blur a Widget in Flutter
                    </h3>
                    <p class="card-subtitle inter-700">Blurring widgets in Flutter can be a daunting task for beginners,
                        but fear not! In this article, we will go through the process of blurring widgets.</p>
                </div>
            </a>
            <div class="divider"></div>
        </div>
        <!-- Languages -->
        <div class="section">
            <h2 class="section-title inter-700">POGRAMMING LANGUAGES</h2>
            <!-- JavaScript -->
            <a class="card" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                <img class="card-image" small
                    src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/JavaScript.svg"
                    alt="JavaScript logo">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        JavaScript
                    </h3>
                    <p class="card-subtitle inter-700">JavaScript is the go-to language for adding interactivity and
                        dynamic content to websites, making the web come alive.</p>
                </div>
            </a>
            <div class="divider"></div>
            <!-- TypeScript -->
            <a class="card" href="https://www.typescriptlang.org" target="_blank">
                <img class="card-image" small
                    src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/TypeScript.svg"
                    alt="TypeScript logo">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        TypeScript
                    </h3>
                    <p class="card-subtitle inter-700">TypeScript is like JavaScript's smarter sibling, adding types to
                        make coding safer and more reliable.</p>
                </div>
            </a>
            <div class="divider"></div>
            <!-- Dart -->
            <a class="card" href="https://dart.dev" target="_blank">
                <img class="card-image" small src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/Dart.svg"
                    alt="Dart Language logo">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Dart
                    </h3>
                    <p class="card-subtitle inter-700">Dart is a versatile programming language designed to build fast,
                        modern web and mobile apps, especially when you want everything to run smoothly on any device.
                    </p>
                </div>
            </a>
            <div class="divider"></div>
            <!-- Go -->
            <a class="card" href="https://go.dev" target="_blank">
                <img class="card-image" small src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/Go.svg"
                    alt="Go lang logo">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Go
                    </h3>
                    <p class="card-subtitle inter-700">Go is a straightforward, efficient programming language that's
                        perfect for building fast, reliable software with minimal fuss.</p>
                </div>
            </a>
            <div class="divider"></div>
        </div>
        <!-- UI Frameworks -->
        <div class="section">
            <h2 class="section-title inter-700">UI Frameworks</h2>
            <!-- Angular -->
            <a class="card" href="https://angular.dev" target="_blank">
                <img class="card-image" small
                    src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/Angular.svg" alt="Angular logo">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Angular
                    </h3>
                    <p class="card-subtitle inter-700">Angular is a super handy framework that lets you create powerful,
                        interactive web apps without breaking a sweat.</p>
                </div>
            </a>
            <div class="divider"></div>
            <!-- React -->
            <a class="card" href="https://react.dev" target="_blank">
                <img class="card-image" small src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/React.svg"
                    alt="React logo">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        React
                    </h3>
                    <p class="card-subtitle inter-700">React is a popular library that makes building interactive user
                        interfaces a breeze, letting you focus on creating cool features.</p>
                </div>
            </a>
            <div class="divider"></div>
            <!-- Flutter -->
            <a class="card" href="https://flutter.dev" target="_blank">
                <img class="card-image" small
                    src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/Flutter.svg" alt="Flutter logo">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Flutter
                    </h3>
                    <p class="card-subtitle inter-700">Flutter is a powerful toolkit that makes it easy to create
                        beautiful, natively compiled apps for mobile, web, and desktop from a single codebase.</p>
                </div>
            </a>
            <div class="divider"></div>
            <!-- React Native -->
            <a class="card" href="https://reactnative.dev" target="_blank">
                <img class="card-image" small
                    src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/React Native.svg"
                    alt="React Native logo">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        React Native
                    </h3>
                    <p class="card-subtitle inter-700">React Native is a cool framework that lets you use JavaScript to
                        build mobile apps that look and feel native on both iOS and Android.</p>
                </div>
            </a>
            <div class="divider"></div>
        </div>
        <!-- Tools -->
        <div class="section">
            <h2 class="section-title inter-700">TOOLS I USE</h2>
            <!-- Firebase -->
            <a class="card" href="https://firebase.google.com" target="_blank">
                <img class="card-image" small src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/FireBase.svg" alt="Firebase logo">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Firebase
                    </h3>
                    <p class="card-subtitle inter-700">Firebase is Google’s all-in-one platform for building apps, handling backend tasks, and scaling effortlessly.</p>
                </div>
            </a>
            <div class="divider"></div>
            <!-- VS Code -->
            <a class="card" href="https://code.visualstudio.com" target="_blank">
                <img class="card-image" small
                    src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/VsCode.svg"
                    alt="Visual studio code application icon">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Visual Studio Code
                    </h3>
                    <p class="card-subtitle inter-700">VS Code is my go-to code editor. I love it for its wide range of
                        extensions and plugins. Plus, the built-in debugging feature saves me a lot of time.</p>
                </div>
            </a>
            <div class="divider"></div>
            <!-- Xcode -->
            <a class="card" href="https://developer.apple.com/xcode/" target="_blank">
                <img class="card-image" small src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/Xcode.svg"
                    alt="Xcode application icon">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Xcode
                    </h3>
                    <p class="card-subtitle inter-700">Xcode's my jam for Apple development. It's got everything I need
                        baked in, the simulator, Interface Builder, you name it.</p>
                </div>
            </a>
            <div class="divider"></div>
            <!-- CodeEdit -->
            <a class="card" href="https://www.codeedit.app" target="_blank">
                <img class="card-image" small
                    src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/CodeEdit.svg"
                    alt="Code Edit application icon">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        CodeEdit
                    </h3>
                    <p class="card-subtitle inter-700">I've been trying out CodeEdit lately - it's this new open-source
                        editor for Mac. It's still pretty new, but I love how lightweight and snappy it feels compared
                        to some of the bigger IDEs.</p>
                </div>
            </a>
            <div class="divider"></div>
            <!-- Table Plus -->
            <a class="card" href="https://tableplus.com" target="_blank">
                <img class="card-image" small src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/TablePlus.svg" alt="TablePlus application icon">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        TablePlus
                    </h3>
                    <p class="card-subtitle inter-700">TablePlus is a fast & user-friendly database management application that makes maintaining many databases easy and intuitive.</p>
                </div>
            </a>
            <div class="divider"></div>
            <!-- Figma -->
            <a class="card" href="https://www.figma.com" target="_blank">
                <img class="card-image" small src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/Figma.svg"
                    alt="Figma application icon">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Figma
                    </h3>
                    <p class="card-subtitle inter-700">Figma's is the design tool to go for me. I can whip up designs
                        super quick, and the components feature is clutch for keeping everything consistent.</p>
                </div>
            </a>
            <div class="divider"></div>
            <!-- Excalidraw -->
            <a class="card" href="https://excalidraw.com" target="_blank">
                <img class="card-image" small
                    src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/Excalidraw.svg"
                    alt="Excalidraw web-application icon">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Excalidraw
                    </h3>
                    <p class="card-subtitle inter-700">Excalidraw's my go-to for quick sketches and diagrams. It's so
                        simple to use, but the results look like I actually know what I'm doing with design!</p>
                </div>
            </a>
            <div class="divider"></div>
            <!-- Notion -->
            <a class="card" href="https://www.notion.so" target="_blank">
                <img class="card-image" small
                    src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/Notion.svg"
                    alt="Notion application icon">
                <div class="card-content">
                    <h3 class="card-title inter-700">
                        Notion
                    </h3>
                    <p class="card-subtitle inter-700">Notion's been a total game-changer for me. I dump everything in
                        there - to-do lists, project notes, even my meal planning. It's like my second brain.</p>
                </div>
            </a>
            <div class="divider"></div>
        </div>
        <!-- Get in touch -->
        <div class="section">
            <h2 class="section-title inter-700">GET IN TOUCH</h2>
            <br>
            <a class="btn inter-400" href="mailto:email@rishisingh.in">email@rishisingh.in</a>
            <br>
            <div class="social-links-row">
                <a class="inter-500 social-link" target="_blank"
                    href="https://www.linkedin.com/in/rishi-singh-b2226415b"><img class="social-image"
                        src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/linkedin-icon.svg"
                        alt="Linkedin logo"></a>
                <a class="inter-500 social-link" target="_blank" href="https://medium.com/@rishi_singh"><img
                        class="social-image"
                        src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/medium-icon.svg"
                        alt="Medium Logo"></a>
                <a class="inter-500 social-link" target="_blank" href="https://www.github.com/in/rishi-singh26"><img
                        class="social-image"
                        src="https://cdn.jsdelivr.net/gh/rishi-singh26/Portfolio/assets/github-icon.svg"
                        alt="Github Logo"></a>
            </div>
            <p class="inter-400">Copyright © 2024 Rishi Singh. All Rights Reserved</p>
            <br>
            <br>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>