@import url(./_variables.css);

/* Please keep this css code to improve the font quality */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    margin: 0px;
}

/* Thin 100 */
.inter-100 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* ExtraLight 200 */
.inter-200 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* Light 300 */
.inter-300 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* Regular 400 */
.inter-400 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* Medium 500 */
.inter-500 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* SemiBold 600 */
.inter-600 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* Bold 700 */
.inter-700 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* ExtraBold 800 */
.inter-800 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* Black 900 */
.inter-900 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.canvas {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: start;
    justify-content: flex-start;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    margin: 0;
    padding: 0px 52px;
    height: 70px;
    /* border-bottom: 0.5px solid #c0c0c0; */
    /* pin at top */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    /* blurred backdrop */
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    background-color: var(--header-background);
    border-bottom: 0.5px solid var(--border);

    .logo {
        font-size: 32px;
        height: min-content;

        .header-logo-tag {
            color: var(--dark-accent-color);
        }
    }

    .header-link {
        font-size: 20px;
        text-decoration: underline;
        height: min-content;
        transition: color 0.1s ease;
        text-decoration: none;
    }

    .header-link:hover {
        color: var(--semi-dark-accent-color);
    }

    .header-spacer {
        padding-right: 15px;
    }
}